@model IEnumerable<SchoolCup.Models.POCO.Country>

@{
    ViewBag.Title = "Index";
}

<h2>Index-SUCCES!!!</h2>
<ul>
    @foreach (var country in Model)
    { 
        <li>@Html.ActionLink(country.Name,"Index")</li>
       
    }
</ul>
