body{
    background-color: #F0F0F0;
}

#wrappertop{
    width : 960px;
    margin-left: auto;
    margin-right: auto;
}

#wrapper{
    width : 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 36px;
    background-image:url('striped_lens.png');
    background-repeat:repeat;
}

#footer{
    width: 960px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    background-color: #7D2677;
    height: 20px;

    color: #ffffff;
}

#header{
    height: 150px;
    background-image:url("./Images/banner1.png");
    background-size:100% 100%;
    background-repeat:no-repeat;
}

#left{
    float:left;
    padding-top: 30px;
    padding-left: 20px;
    align : right;
}

#left input{
    display:block;
    margin-top: 10px;
    width: 100px;
}

#left button{
    width: 92px;
}

#leftLoggedin{
    float:left;
    padding-top: 20px;
    padding-left: 20px;
    width:200px;
    align : right;
    color: white;
    font-weight: bold;
}

#leftLoggedin img{
    float:left;
    width: 90px;
    height: 90px;
    padding-right: 10px;
}

#leftLoggedin a{
    font-weight: normal;
    display:block;
    font-size: 14px;
    margin-top: 5px;
}

#right{
    float: right;
    margin-right: 10px;
    position: relative; bottom: 10; right: 10;
    padding-top: 30px;
    padding-left: 20px;
}

#right select{
     display:block;
     margin-top: -25px;
     width: 120px;
 }

#right input{
    float: left;
    display:block;
    margin-top: 70px;
    width: 90px;
}

#right button{
    float: left;
    display:block;
    margin-top: 70px;
    width: 30px;
}



#drop-down-menu{margin-left:20px}
ul{
    font-weight:bold;color:#ffffff;
    margin:0;
    padding:0;
    list-style:none ;
    margin-left:-1px;
    margin-right:-2px;
}
ul li{
    display:block;
    position:relative;
    float:left;
    width: 137.57px;}

li ul{
    display:none ;
    margin-left: 0px;
}

ul li a{
    display:block;
    margin-right:2px;
    text-decoration:none;
    color:#ffffff;
    border-top:1px solid #3c1053;
    padding: 5px 15px 5px 15px;

    background:#7D2677;
    white-space:nowrap}

ul li a:hover{background: #6e3298;color:inherit}

li:hover ul{
    display:block;
    position:absolute}
li:hover li{
    font-size:70%;
    clear:left;
    width:137.57px;}
li:hover a{ background:#7D2677;color:inherit}
li:hover li a:hover{background: #6e3298;color:inherit}
.clear_all{clear:both;height:0.5em;}

#content{
    padding : 10px 10px 10px 10px;
}

#ads{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    height: 120px;
    padding-left: 5px;
    color: #ffffff;
    margin-top: -15px;
}