body{
    background-color: white;
}

#wrappertop{
    width : 960px;
    margin-left: auto;
    margin-right: auto;
}

#wrapper{
    width : 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 36px;
    background-image:url('striped_lens.png');
    background-repeat:repeat;
}

#footer{
    width: 960px;
    text-align: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

#headerimg{
    margin-left: auto;
    margin-right: auto;
}

#drop-down-menu{margin-left:20px}
ul{
    font-weight:bold;color:#ffffff;
    margin:0;
    padding:0;
    list-style:none ;
    margin-left:-1px;
    margin-right:-2px;
}
ul li{
    display:block;
    position:relative;
    float:left;
    width: 137.57px;}

li ul{
    display:none ;
    margin-left: 0px;
}

ul li a{
    display:block;
    margin-right:2px;
    text-decoration:none;
    color:#ffffff;
    border-top:1px solid #3c1053;
    padding: 5px 15px 5px 15px;

    background:#7D2677;
    white-space:nowrap}

ul li a:hover{background: #6e3298;color:inherit}

li:hover ul{
    display:block;
    position:absolute}
li:hover li{
    font-size:70%;
    clear:left;
    width:137.57px;}
li:hover a{ background:#7D2677;color:inherit}
li:hover li a:hover{background: #6e3298;color:inherit}
.clear_all{clear:both;height:0.5em;}

#content{
    padding : 10px 10px 10px 10px;
}