body{
    background-color: black;
}

#wrappertop{
    width : 960px;
    margin-left: auto;
    margin-right: auto;
}

#wrapper{
    width : 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
    margin-top: 36px;
    height: 500px;
}

#footer{
    width: 960px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
    height: 20px;
}

#headerimg{
    margin-left: auto;
    margin-right: auto;
}

#drop-down-menu{margin-left:20px}
ul{
    font-weight:bold;color:#ffffff;
    margin:0;
    padding:0;
    list-style:none ;
    margin-left:-1px;
    margin-right:-2px;
}
ul li{
    display:block;
    position:relative;
    float:left;
    width: 137.57px;}

li ul{display:none}

ul li a{
    display:block;
    margin-right:2px;
    text-decoration:none;
    color:#ffffff;
    border-top:1px solid #B75963;
    padding: 5px 15px 5px 15px;

    background:#7D2677;
    white-space:nowrap}

ul li a:hover{background:#985963;color:inherit}

li:hover ul{
    display:block;
    position:absolute}
li:hover li{
    font-size:70%;
    clear:left;
    width:137.6px;}
li:hover a{ background:#985963;color:inherit}
li:hover li a:hover{background:#B75963;color:inherit}
.clear_all{clear:both;height:0.5em;}

#content{
    padding : 10px 10px 10px 10px;
}