<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="css.css"
          type="text/css"
            />
    <script type="text/javascript" src="scripts.js"></script>
</head>
<body>

    <div id="wrappertop">
    <div id="header">
        <div id="left">
            <input type="text" VALUE="Login" name="name"  onblur="onBlur(this)" onfocus="onFocus(this)">
            <input type="text" VALUE="Password" name="password"  onblur="onBlur(this)" onfocus="onFocus(this)">
            <a href="" >?</a>
            <button>Login</button>
        </div>
        <!--<div id="leftLoggedin">-->
            <!--<img alt="gebruiker" src="logo%20isf.jpg">-->
            <!--Welcome Jos-->
            <!--<a href="">Change Profile</a>-->
            <!--<a href="">Manage Results</a>-->
            <!--<a href="">Log Out</a>-->
        <!--</div>-->
        <div id="right">
            <select>
                <option value="volvo">Language</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
            <input type="text" name="search" VALUE="Search" onblur="onBlur(this)" onfocus="onFocus(this)">
            <button>Go</button>
        </div>
    </div>

    <ul id="navigatie">
        <li><a href="index.html">Home</a></li>
        <li><a href="myschoolcup.html">My School Cup</a></li>
        <li><a href="workouts.html">Meetings</a></li>
        <li><a href="schools.html">Schools</a></li>
        <li><a href="myschoolcup.html">Photos</a></li>
        <li><a href="workouts.html">Results</a></li>
        <li><a href="schools.html">Manage</a>
            <ul>
                <li><a href="workouts.html">Advertisement</a></li>
                <li><a href="workouts.html">Country</a></li>
                <li><a href="workouts.html">Federation</a></li>
                <li><a href="workouts.html">School</a></li>
                <li><a href="workouts.html">Coach</a></li>
                <li><a href="workouts.html">Team</a></li>
                <li><a href="workouts.html">Student</a></li>
                <li><a href="workouts.html">Meeting</a></li>
                <li><a href="workouts.html">Event</a></li>
            </ul>
        </li>

    </ul>
    </div>
    <div id=wrapper>
    <div id="content">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend semper porttitor. Duis aliquam volutpat blandit. Fusce magna leo, interdum quis consectetur varius, rhoncus vulputate odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Maecenas rutrum mattis turpis eget pellentesque. Pellentesque nulla metus, sodales quis hendrerit cursus, hendrerit eu est.                                </p>

        <p>Nulla augue nisl, scelerisque vitae adipiscing venenatis, commodo in urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque aliquet volutpat vehicula. Ut ut pulvinar libero. Fusce volutpat, purus eu pellentesque ultricies, sem arcu faucibus augue, ut ullamcorper nisi purus a tortor. Vivamus est justo, accumsan in accumsan at, hendrerit nec felis. Mauris eu elit in diam euismod auctor a eget magna.   </p>

        <p>Praesent quis velit non neque dictum volutpat nec eu mi. Donec luctus mi ut justo ullamcorper dictum. Maecenas a viverra orci. Phasellus vehicula, nulla at viverra cursus, dui enim consectetur metus, sodales pharetra sapien nunc sit amet nisi. Cras molestie lectus in ipsum ullamcorper at accumsan magna volutpat. Sed vel fermentum ipsum. Nulla facilisi. Quisque non lectus lacus. Vivamus pretium interdum lacus, ac pharetra eros porta sed. In porta metus felis.  </p>

        <p>Donec consectetur sagittis sapien et scelerisque. Aliquam elementum semper tristique. Integer rutrum lacus sit amet mi tristique tempor. Sed sit amet nisl sem. Curabitur arcu lacus, aliquet id mollis eu, ornare et purus. Nulla nunc nisi, commodo ac viverra vel, lacinia sit amet leo. Proin pulvinar, dolor id posuere vulputate, metus nunc eleifend est, nec mollis ligula lectus eget ipsum.                                                </p>

        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin suscipit ornare arcu eget tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et nisi neque, vel blandit dui. Donec elit velit, mattis quis faucibus non, elementum vitae neque. Fusce in consequat velit. Aliquam tempor lobortis risus, ac aliquam nisi facilisis eu. Nulla vehicula, est ut egestas dictum, ante orci iaculis metus, at ullamcorper sapien enim quis dolor. Suspendisse id urna non nisi vehicula eleifend consequat at nibh.    </p>

    </div>

    </div>

    <div id="footer">
        (C) Team Outsource
    </div>
</body>
</html>