<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="css.css"
          type="text/css"
            />
</head>
<body>
<div id=wrapper>
    <div id="header">
        <h1 class="header">ISF School Cup</h1>
    </div>
    <ul id="navigatie">
        <li><a href="index.html">Home</a></li>
        <li><a href="myschoolcup.html">My School Cup</a></li>
        <li><a href="workouts.html">Meetings</a></li>
        <li><a href="schools.html">Schools</a></li>
        <li><a href="myschoolcup.html">Photos</a></li>
        <li><a href="workouts.html">Results</a></li>
        <li><a href="schools.html">Manage</a>
            <ul>
                <li><a href="workouts.html">Advertisement</a></li>
                <li><a href="workouts.html">Country</a></li>
                <li><a href="workouts.html">Federation</a></li>
                <li><a href="workouts.html">School</a></li>
                <li><a href="workouts.html">Coach</a></li>
                <li><a href="workouts.html">Team</a></li>
                <li><a href="workouts.html">Student</a></li>
                <li><a href="workouts.html">Meeting</a></li>
                <li><a href="workouts.html">Event</a></li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>